p {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
}
h2 {
    padding-bottom: 10px;
    background-image: repeating-linear-gradient(90deg, #b4a983 0, #b4a983 2px, rgba(0,0,0,0) 2px, rgba(0,0,0,0) 4px);
    background-size: 4px 4px;
    background-repeat: repeat-x;
    background-position: center bottom;
}
h3 {
    position: relative;
    margin-top: 0 !important;
    padding: 0.25em 0;
}
h3:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}
strong {
    padding: .1em;
    background-color: oldlace;
}
blockquote {
    margin: 1em 0em !important;
    padding: 0em 1em !important;
    border: 2px solid #ccc;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    color: rgb(100, 100, 100) !important;
    font-size: initial !important;
    line-height: initial !important;
    font-style: initial !important;
}

.math-display {
    overflow: auto;
    overflow-y: visible;
}